*.sqlite3
*.egg-info
*.py[cod]

# dependencies
/client/node_modules

# testing
/client/coverage

# production
/client/build

# generated staticfiles
/aclabs/staticfiles

npm-debug.log*
yarn-debug.log*
yarn-error.log*